* {
    margin: 0;
    max-width: 100%;
}
body {
}
p{
    margin-left: 5px;
}
img {
    margin: 0 5px;
}
.btn {
    margin: 5px;
}
#search {
    position: relative;
    right: 0;
}
@media (max-width: 640px) {

}
