@media all and (min-width: 768px){
    * {
        margin: 0;
        max-width: 100%;
    }
    body {
        background-image: url("../images/dust_scratches.png");
        background-repeat: repeat;
    }
    p{
        margin-left: 5px;
    }
    img {
        position: static;
    }
    .movie-poster, .gif {
        margin: 0 5px;
    }
    .btn {
        margin: 5px;
    }
    #topics-view {
        position: static;

    }
    #search-display {
        position: absolute;
        top: 0;
        right: 0;

    }
    #gifs {
        position: relative;
        top: 0;

    }
}
@media all and (max-width: 960px){
    * {
        margin: 5px;
    }
    body{
        background-image: url("../images/dust_scratches.png");
        background-repeat: repeat;
    }
    img {
        position: static;
    }
    #topics-view {
        position: static;
    }
    button {
        margin: 5px;
    }
    #search-display {   
        position: absolute;
        top: 0; 
        overflow: auto;
    }
    #gifs {
        top: 100px;
    }

}