* {
    margin: 0;
    max-width: 100%;
}
body {
    background-image: url("../images/dust_scratches.png");
}
p{
    margin-left: 5px;
}
.movie-poster, .gif {
    margin: 0 5px;
}
.btn {
    margin: 5px;
}
#topics-view {
    position: relative;

}
#search-display {
    position: relative;
    top: 0;
    right: 0;

}
#gifs {
    position: relative;
    top: 0;

}
@media all and (max-width: 640px){
    img {
        position: static;
    }
    #topics-view {
        position: static;
    }
    #search-display {   
        position: absolute;
        top: 0; 
        overflow: auto;
    }
    #gifs {
        top: 100px;
    }

}